{{ define "main" }}
{{ $categories := .GetTerms "categories" }}
{{ $tags := .GetTerms "tags" }}
{{ $categoryKeys := dict }}
{{ with $categories }}
  {{ range . }}
    {{ $categoryKeys = merge $categoryKeys (dict (.LinkTitle | lower) true) }}
  {{ end }}
{{ end }}
{{ $displayTags := slice }}
{{ with $tags }}
  {{ range . }}
    {{ $tagKey := .LinkTitle | lower }}
    {{ if not (index $categoryKeys $tagKey) }}
      {{ $displayTags = $displayTags | append . }}
    {{ end }}
  {{ end }}
{{ end }}
<article class="hentry">
  <div class="entry-content heti">
    <h1 class="post-title entry-title">{{ .Title }}</h1>
    {{ if eq .Section "posts" }}
    <h4 class="page-info">
      {{ with $categories }}
      <span class="page-info-taxonomy">
        Categories:
        {{ range $index, $term := . }}{{ if gt $index 0 }} · {{ end }}<a href="{{ $term.RelPermalink }}">{{ $term.LinkTitle }}</a>{{ end }}
      </span>
      {{ end }}
      {{ with $displayTags }}
      <span class="page-info-taxonomy">
        Tags:
        {{ range $index, $term := . }}{{ if gt $index 0 }} · {{ end }}<a href="{{ $term.RelPermalink }}">#{{ $term.LinkTitle }}</a>{{ end }}
      </span>
      {{ end }}
      <time datetime="{{ .Date.Format `2006-01-02T15:04:05-07:00` }}">{{ .Date.Format "2006-01-02" }}</time>
      {{ if site.Params.busuanzi.enable }}
      <span id="busuanzi_value_page_pv">-</span> 次阅读
      {{ end }}
    </h4>
    {{ end }}
    {{ .Content }}
  </div>
  {{ partial "giscus.html" . }}
  {{ partial "read-more.html" . }}
</article>
{{ end }}
